.body {
  text-align: center;
}
.App {
  display: block;
  margin: 40px auto;
  border: 3px solid;
  width: 600px;
  border: 2px solid rgb(96, 103, 131);
  border-radius: 2px;
  box-shadow: 5px 5px 0 0 #a4baf7;
}

.current-weather {
    margin-bottom: 15px;
    color: rgb(20, 20, 20);
  }
  #new-city {
    font-size: 40px;
    margin-left: 28px;
  }
  #weather-icon-today {
    width: 40%;
    margin: 0 0 0 10px;
  }
  li {
    list-style-type: none;
  }
  #temperature {
    font-size: 50px;
    text-align: center;
  }
  .capitalize {
    text-transform: capitalize;
  }
  .weather-spec {
    text-align: left;
  }
  .weather-spec-icons {
    width: 40px;
  }
  .spec-text:hover + .spec-text-hide {
    display: inline;
  }
  .spec-text-hide {
    display: none;
  }
  